name: Ruby

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby-version:
          - jruby-9.4
          - 2.4
          - 2.5
          - 2.6
          - 2.7
          - 3.0
          - 3.1
          - 3.2
          - 3.3
          - 3.4
          - 4.0
        mongo-image:
          - mongo:4.4
        include:
          - { "ruby-version": 4.0, "mongo-image": "mongo:4.2" }
          - { "ruby-version": 4.0, "mongo-image": "mongo:5.0" }
          - { "ruby-version": 4.0, "mongo-image": "mongo:6.0" }
          - { "ruby-version": 4.0, "mongo-image": "mongo:7.0" }
          - { "ruby-version": 4.0, "mongo-image": "mongo:8.0" }
    services:
      mongo:
        image: ${{ matrix.mongo-image }}
        ports:
          - 27017:27017
    steps:
    - name: Git checkout
      uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: "${{ matrix.ruby-version }}"
    - name: Install dependencies
      run: "bundle install --without guard"
    - name: Run tests
      run: "bundle exec rake"
